@import '../base/variables.less';

.cc-modal {
    &-header {
        padding: 22px 26px;
        color: black;

    }
    img.cancelBtnIMG {
        margin: -26px 0px 0px 498px;
    }


    &-body {
        padding: 20px 50px 30px;
        background: #fafafa;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      

        &>div {
            flex-basis: 48%;
            margin-bottom: 15px;
        }

        .input-wrapper .password-eye {
            position: absolute;
            top: 30px;
            right: 10px;
            cursor: pointer;
        }

        .input.input-wrapper {

            label {
                font-size: 12px;
                font-weight: 600;
                color: #26265d;
                margin-left: 39px;
                margin-top: 10px;
            }

            input {
                border: 1px solid #c5cbde;
                margin-top: 6px !important;
                width: 455px;
                position: relative;
                height: 45px;
                left: 35px;
            }
        }
      

        .SingleSelect {
            label {
                font-size: 12px;
                font-weight: 600;
                color: #26265d;
                margin-left: 2px;
            }

            ._single-select {
                margin-top: 6px !important;

                &__control {
                    border: 1px solid #c5cbde !important;
                }

                &__placeholder {
                    color: #c3c8d0;
                }
            }
        }

        label {
            display: block;
            color: #26265d;
            font-size: 12px;
            font-weight: 600;
            margin-left: 2px;
        }

        .ant-switch {
            margin-top: 5px;
            min-width: 60px;
            height: 25px;

            &::after {
                top: 2px;
            }

            &-checked {
                background-color: green !important;
            }
        }

        .trash {
            width: 60px;
            height: 60px;
        }
    }

    &-body.oneThird {
        &>div {
            flex-basis: 65%;
        }
    }

    &-footer {
        border-radius: 0 0 12px 12px;
        padding: 22px 50px;
        border-top: 1px solid #c5cbde;
        background-color: white;
        border: none;

        &__btns {
            display: flex;
            justify-content: flex-end;
            align-items: center;

        }

    }

    .ant-modal {
        &-content {
            position: relative;
            left: 368px;
            top: -42px;
            background-color: #43abfa;

        }
        .ant-modal-content {
            position: relative;
            left: 368px;
            top: -42px;
            background-color: #43abfa;
            color: white;
        } 

        &-close {
            display: none;
        }

        &-body {
            border-radius: 12px;
            width: 20%;
            margin-left: 200px;
            padding: none;
        }
    }
}

.ant-popover-inner-content {
    ul {
        list-style: none;
    }
}

.ant-popover-inner {
    padding: 0;
}

.ant-popover-placement-top {
    .ant-popover-inner {
        padding: 6px 15px !important;
    }
}

.ant-notification-notice.ant-notification-notice-closable {
    border-radius: 7.5px !important;
    background-color: #09cc64 !important;
    color: white !important;
}

.ant-notification-notice-message {
    color: white !important;

    .ant-notification-notice-icon-success {
        svg {
            path {
                fill: white;
            }
        }
    }
}