<!DOCTYPE html>
<html lang="en">

<head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title><%= htmlWebpackPlugin.options.projectName %></title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="./">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon/favicon-32x32.png">
    <link rel="stylesheet" href="https://use.typekit.net/ddg4afx.css">
    <link rel="stylesheet" href="https://use.typekit.net/lkc1pms.css">
    <!-- <link rel="manifest" href="./images/favicon/manifest.json"> -->
    <!--<link rel="apple-touch-icon" sizes="180x180" href="./images/favicon/apple-touch-icon.png">-->
    <!--<link rel="mask-icon" href="./images/favicon/safari-pinned-tab.svg" color="#5bbad5">-->
    <meta name="apple-mobile-web-app-title" content="<%= htmlWebpackPlugin.options.projectName %>">
    <meta name="application-name" content="<%= htmlWebpackPlugin.options.projectName %>">
    <meta name="theme-color" content="<%= htmlWebpackPlugin.options.themeColor %>">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="<%= htmlWebpackPlugin.options.themeColor %>">
    <meta name="msapplication-navbutton-color" content="<%= htmlWebpackPlugin.options.themeColor %>">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="<%= htmlWebpackPlugin.options.themeColor %>">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" charset="utf-8"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <div id="root">
    </div>
</body>

</html>